/* page setup */

:root {
    --color-background1: #cddfee;
    --color-background2: #558246;
    --color-background3: #93d8c7;
    --color-background4: #e2ffa9;
    --color-text1: #1b321e;
    --color-text2: #7ba3a3;
    --color-cells-initial: #7cae73;
    --color-cells1: #a65841;
    --color-cells2: #0690bd;
    --color-cells3: #672f7a;
    --color-cells4: #e4c607;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    margin: 0 auto;
    height: 100vh;
    width: 90vw;
    background: linear-gradient(
        185deg, 
        var(--color-background1), 
        var(--color-background1) 45%, 
        var(--color-background2) 105%);
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* grid and cell setup */

#grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 2px solid var(--color-cells1);
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
    margin: 2px;
}

.square {
    border: 0.5px solid var(--color-cells1);
}

.initial {
    background-color: var(--color-cells-initial);

}

.hover1 {
    background-color: var(--color-cells1);
}

.hover2 {
    background-color: var(--color-cells2);
}

.hover3 {
    background-color: var(--color-cells3);
}

.hover4 {
    background-color: var(--color-cells4);
}

/* right column */

#settings-div {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background: linear-gradient(25deg, white -100%, transparent 45%);
    border-radius: 20px;
}

#grid-size {
    align-self: flex-start;
}

#grid-size-label {
    color: var(--color-text1);
    font-size: 16px;
    margin: 0 10px 30px 0;
    padding: 10px;
}

#grid-size-input {
    text-align: center;
    font-size: 14px;
    color: var(--color-text1);
    border: 0;
    border-radius: 5px;
    padding: 3px;
    height: 30px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    background-color: var(--color-background1);
    
}

button {
    width: 140px;
    padding: 0 1em;
    height: 30px;
    color: var(--color-background1);
    background-color: var(--color-text1);
    border: 0;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
    border-radius: 5px;
}

button:active {
    filter: opacity(70%);
}

#rainbow-mode-button {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    color: black;
}

/* left column */

#logo {
    padding: 20px 40px;
    background: linear-gradient(155deg, white -70%, transparent 45%);
    border-radius: 20px;
    height: 200px;
}

.heading {
    font-family: Agbalumo, serif;
}

#etch-heading {
    color: var(--color-text1);
}

#shumin-heading {
    color: var(--color-text2);
}

#left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#buttons-div {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

#rainbow-stats {
    color: var(--color-text1);
    height: 15px;
    font-size: 12px;
    margin-top: -5px;
    font-family: monospace;
}

#stats > p {
    width: 310px;
    color: var(--color-text1);
    margin: 1em;
    font-size: 16px;
    height: 16px;
}

#congratulations {
    animation: 3s ease-in-out infinite colorful-text-animation;
}

.expanding-shadow {
    animation: 3s ease-in-out 1 expanding-shadow-animation;
}

.expanding-shadow-logo {
    animation: 3s ease-in-out 1 expanding-shadow-animation-logo;
}

@keyframes colorful-text-animation {
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@keyframes colorful-border-animation {
    0% {
        border: 2px solid red;
    }
    50% {
        border: 2px solid blue;
    }
    100% {
        border: 2px solid red;
    }
}

@keyframes expanding-shadow-animation {
    0% {
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
    }
    5% {
        filter: drop-shadow(0 0 0px white);
    }
    20% {
        filter: drop-shadow(0 0 150px rgba(255, 255, 0, 0.8));
    }
    35% {
        filter: drop-shadow(0 0 140px rgba(255, 255, 0, 0.8));
    }
    75% {
        filter: drop-shadow(0 0 80px transparent);
    }
    75% {
        filter: none;
    }
    85% {
        filter: none;
    }
    85% {
        filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0.3));
    }
    100% {
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
    }
}

@keyframes expanding-shadow-animation-logo {
    5% {
        filter: drop-shadow(0 0 0px white);
    }
    20% {
        filter: drop-shadow(0 0 150px rgba(255, 255, 0, 0.8));
    }
    35% {
        filter: drop-shadow(0 0 140px rgba(255, 255, 0, 0.8));
    }
    75% {
        filter: drop-shadow(0 0 80px transparent);
    }
}

.decoration {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    opacity: 0.1;
}

#decoration1 {
    width: 500px;
    height: 500px;
    top: 50%;
    left: -10%;
    background-color: var(--color-background2);
}

#decoration2 {
    width: 300px;
    height: 300px;
    top: 20%;
    left: -10%;
    background-color: var(--color-background4);
}

#decoration3 {
    width: 700px;
    height: 700px;
    top: 5%;
    left: 15%;
    background-color: var(--color-background3);
}