/* page setup */

:root {
    --color-background: #cddfee;
    --color-text1: #1b321e;
    --color-text2: #7ba3a3;
    --color-cells-initial: #7cae73;
    --color-cells1: #a65841;
    --color-cells2: #0690bd;
    --color-cells3: #672f7a;
    --color-cells4: #e4c607;
    --color-element1: #e8d7b9;
    --color-element2: #558246;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        185deg, 
        var(--color-background), 
        var(--color-background) 60%, 
        var(--color-element2) 105%);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.column {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}


/* grid and cell setup */

#grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 0.5px solid var(--color-cells1);
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
}

.square {
    border: 0.5px solid var(--color-cells1);
}

.initial {
    background-color: var(--color-cells-initial);

}

.hover1 {
    background-color: var(--color-cells1);
}

.hover2 {
    background-color: var(--color-cells2);
}

.hover3 {
    background-color: var(--color-cells3);
}

.hover4 {
    background-color: var(--color-cells4);
}

/* right column */

#settings-div {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

#grid-size {
    align-self: flex-start;
}

#grid-size-label {
    color: var(--color-text1);
    font-size: 18px;
}

#grid-size-input {
    text-align: center;
    margin: 0 20px 0 10px;
    font-size: 14px;
    color: var(--color-text1);
    border: 0;
    border-radius: 5px;
    padding: 3px;
    height: 30px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    background-color: var(--color-background);
}

button {
    width: 140px;
    padding: 0 1em;
    height: 30px;
    color: var(--color-background);
    background-color: var(--color-text1);
    border: 0;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
    border-radius: 5px;
    font-weight: bold;
}

button:active {
    background-color: var(--color-cells2);
}

#rainbow-mode-button {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    color: black;
}

/* left column */

#logo {
    padding: 30px 40px;
    background: linear-gradient(155deg, white -50%, transparent 50%);
    border-radius: 20px;
}

.heading {
    font-family: Agbalumo, serif;
}

#etch-heading {
    color: var(--color-text1);
}

#shumin-heading {
    color: var(--color-text2);
}

#left-column {
    justify-content: space-evenly;
    height: 100%;
    flex-shrink: 0;
}

#buttons-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#rainbow-stats {
    color: var(--color-text1);
    height: 15px;
    font-size: 12px;
    margin-top: -5px;
    font-family: monospace;
}